<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<link th:href="@{/css/style.css}"  rel="stylesheet"  />-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>-->
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/style.css" th:href="@{/css/style.css}" />
    <title>SportShop</title>
</head>
<body >

<h1> <marquee direction="left">Witamy serdecznie w sklepie !!!</marquee></h1>

<div id="panel">
    <form>
        <label for="username">Email:</label>
        <input type="text"  id="username" name="username"  placeholder="Tutaj wpisz email..."/><br/>
        <label for="password">Hasło:</label>
        <input type="password"  id="password" name="password"  placeholder="Tutaj wpisz hasło..."/><br/>
        <p id="rejestracja"><a th:href="@{/registration}">Zarejestruj się !</a></p>
        <div id="lower">
            <input type="submit" value="Login"/>
        </div>
    </form>
</div>
</body>
</html>