<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>SportShop</title>
</head>
<body background="../static/img/tloglowne.jpg" >
<h1><marquee direction="left">Witamy serdecznie w sklepie !!!</marquee> </h1>

<div id="panel">
    <form>
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" required id="username" name="username" placeholder="Tutaj wpisz login..."><br/>
        <label for="password">Hasło:</label>
        <input type="password" required id="password" name="password" placeholder="Tutaj wpisz hasło..."><br>
        <p id="rejestracja"><a href="registration.html">Zarejestruj się !</a></p>
        <div id="lower">
            <input type="submit" value="Login">
        </div>
    </form>
</div>
</body>
</html>