<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<a id="wstecz" th:href="@{/skleptest2}"><img th:src="@{/img/wstecz.jpg}" alt="Wróć do zakupów" /></a>
<body>


<div th:object="${productsList}" th:action="@{/shopCart}" method="get">
    <table border="5" cellpadding="2">
        <tr>
            <td>Product Name</td>
            <td>Price Euro</td>
        </tr>
        <th:block th:each="product : ${productsList}">
            <tr>
                <td th:text="${product.name}">...</td>
                <td th:text="${product.price}">...</td>
                <!--<td>
                    <form  th:action="@{/removeproductfromshopcart}" method="POST">
                        <input type="hidden" name="id" th:value="${product.id}"/>
                        <input  type="image" th:src="@{/img/usun.png}" th:width="20" th:height="20" th:alt="Remove"/></form>
                </td>-->
            </tr>
        </th:block>
    </table>
</div>
<div th:object="${totalPrice}" th:action="@{/shopCart}" method="get">
    <table border="5" cellpadding="2">
        <tr>
            <td>Total Price</td>
        </tr>
        <tr>
            <td th:text="${totalPrice}">...</td>
        </tr>
    </table>
</div>

</body>
</html>