<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/styleshoptest2.css" th:href="@{/css/styleshoptest2.css}"/>
</head>
<body>
<ul>
<li style="float:right "><a href="index.html">Wyloguj się</a></li>
<li style="float:right"><a class="active" href="#about">Koszyk</a></li>
</ul>

<div  th:object="${products}" th:action="@{/skleptest2}" method="get">
    <table>
        <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.name}">...</td>
                <td th:text="${product.price}">...</td>
                <!--<td> <form  th:action="@{/buyproduct}" method="POST">
                    <input type="hidden" name="id" th:value="${product.price}"/>
                    <input  type="submit" value="Buy"/></form></td>-->
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>