<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/styleshoptest2.css" th:href="@{/css/styleshoptest2.css}"/>
</head>
<body>
<ul>
    <li style="float: right">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign out"/>
        </form>
        <form th:action="@{/shopCart}" method="get">
            <input type="submit" value="Shop Cart"/>
        </form>
    </li>
</ul>


<div  th:object="${products}" th:action="@{/skleptest2}" method="get">
    <table border="5" cellpadding="2">
        <tr>
            <td>Product Name</td>
            <td>Price Euro</td>
        </tr>
        <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.name}">...</td>
                <td th:text="${product.price}">...</td>
                <td> <form  th:action="@{/buyproduct}" method="POST">
                    <input type="hidden" name="id" th:value="${product.id}"/>
                    <input  type="image" th:src="@{/img/dodaj.png}" th:width="20" th:height="20" th:alt="buy" /></form>
                </td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>