<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sklep</title>

    <link rel="stylesheet" href="../static/css/styleshopuser.css" th:href="@{/css/styleshopuser.css}" />

</head>

<body id="shopUserBody">
<ul>
    <li><a href="#towarypiłkanoznatytul">Piłka Nożna</a></li>
    <li><a href="#towarytenistytul">Tenis</a></li>
    <li><a href="#towarynarciarstwotytul">Narciarstwo</a></li>
    <li><a href="#towarysnowboardtytul">Snowboard</a></li>
    <li><a href="#towarygolftytul">Golf</a></li>
    <li style="float:right "><a href="index.html">Wyloguj się</a></li>
    <li style="float:right"><a class="active" href="#about">Koszyk</a></li>
</ul>

<h3> Zapraszamy do zapoznania się z naszą ofertą</h3>
<table border="5" cellpadding="2" id="towarypiłkanozna">
    <tr>
        <td><span id="towarypiłkanoznatytul">Piłka Nożna</span></td>
    </tr>
    <tr>
        <td><span id="towarypiłkanoznadodaj">Dodaj do koszyka</span></td>
        <td>Towar</td>
        <td>Opis</td>
        <td>Cena zł</td>
    </tr>
    <tr>
        <td> <center><img src="../static/img/dodaj.png" width="20" height="20"/></center></td>
        <td><img src="../static/img/piłka.png" width="125" height="125"/></td>
        <td>Fajna piłka</td>
        <td>110</td>
    </tr>
    <tr>
        <td><center><img src="../static/img/dodaj.png" width="20" height="20"/></center></td>
        <td><img src="../static/img/korek.png" width="120" height="95"/></td>
        <td>Korki najwyższej klasy</td>
        <td>999</td>
    </tr>
    <tr>
        <td><center><img src="../static/img/dodaj.png" width="20" height="20"/></center></td>
        <td><img src="../static/img/koszulka.png" width="110" height="100"/></td>
        <td>Odddychająca z dobrego materiału</td>
        <td>150</td>
    </tr>
    <tr>
        <td><center><img src="../static/img/dodaj.png" width="20" height="20"/> ></center></td>
        <td><img src="../static/img/spodenki.png" width="100" height="95"/></td>
        <td>lekkie , przewiewne idealne do grania w piłkę</td>
        <td>90</td>
    </tr>

</table>
<table border="5" cellpadding="2" id="towarytenis">
    <tr>
        <td><span id="towarytenistytul">Tenis</span></td>
    </tr>
    <tr>
        <td><span id="towarytenisdodaj">Dodaj do koszyka</span></td>
        <td>Towar</td>
        <td>Opis</td>
        <td>Cena zł</td>
    </tr>
    <tr>
        <td> <center><img src="../static/img/dodaj.png" width="20" height="20"/></center></td>
        <td><img src="../static/img/rakieta.png" width="150" height="80"/></td>
        <td>Fajna rakieta</td>
        <td>750</td>
    </tr>
    <tr>
        <td><center><img src="../static/img/dodaj.png" width="20" height="20"/></center></td>
        <td><img src="../static/img/rakieta2.png" width="120" height="95"/></td>
        <td>Ta też jest fajna</td>
        <td>820</td>
    </tr>
    <tr>
        <td><center><img src="../static/img/dodaj.png" width="20" height="20"/></center></td>
        <td><img src="../static/img/piłeczkadotenisa.png" width="90" height="90"/></td>
        <td>Dobrze się nimi gra</td>
        <td>10</td>
    </tr>
    <tr>
        <td><center><img src="../static/img/dodaj.png" width="20" height="20" /></center></td>
        <td><img src="../static/img/koszulkadotenisa.png" width="100" height="95"/></td>
        <td>lekkie , przewiewne idealne do grania w piłkę</td>
        <td>85</td>
    </tr>
</table>

</body>
</html>